package views

templ Page() {
	<!DOCTYPE html>
	<html>
		<head>
			<script type="module" defer src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar"></script>
		</head>
		<body>
			<div>
				{ children... }
			</div>
		</body>
	</html>
}
